termostat.js
[{"id":"99863630.e06338","type":"tab","label":"Термостат спалня"},{"id":"cc373987.2a6328","type":"ui_template","z":"99863630.e06338","group":"f0d6f09.ae6441","name":"css etc","order":14,"width":"0","height":"0","format":"<style>\n\n.cellGreen \n{\nbackground-color: #ffdddd !important;\n}\n\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n \n\n  \n.zui-table {\n    border: solid 1px #DDEEEE;\n    border-collapse: collapse;\n    border-spacing: 0;\n    font: normal 10px Arial, sans-serif;\n    outline: none;\n}\n.zui-table thead th {\n    width: 100%;\n    height:50%;\n    background-color: #99bbff;\n    border: solid 1px #DDEEEE;\n    color: #336B6B;\n    padding: 7px 3px 5px 3px;\n    text-align: center;\n    text-shadow: 1px 1px 1px #fff;\n}\n.zui-table tbody td {\n    width: 100%;\n    height:50%;\n    border: solid 1px #333;\n    color: #333;\n    text-align: center;\n    padding: 6px 3px 9px 3px;\n    text-shadow: 1px 1px 1px #fff;\n}\n.zui-table-rounded {\n    border: none;\n}\n.zui-table-rounded thead th {\n    background-color: #77aaff;\n    border: none;\n    text-shadow: 1px 1px 1px #ccc;\n    color: #333;\n}\n.zui-table-rounded thead th:first-child {\n    border-radius: 10px 0 0 0;\n}\n.zui-table-rounded thead th:last-child {\n    border-radius: 10px 10px 0px 0px;\n}\n.zui-table-rounded tbody td {\n    border: none;\n    border-top: solid 1px #957030;\n    background-color: #aaddff;\n}\n.zui-table-rounded tbody tr:last-child td:first-child {\n    border-radius: 10px 10px 0 0;\n}\n.zui-table-rounded tbody tr:last-child td:last-child {\n    border-radius: 0 0 10px 10px;\n}  \n</style>\n\n<script>\nvar current=1;\n\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),50);\n    navigator.vibrate(80);\n    });\n    \nvar myStatus=\"Nowt\";\n</script>","storeOutMessages":true,"fwdInMessages":true,"x":480,"y":80,"wires":[[]]},{"id":"9f2ce4e7.d90a58","type":"ui_template","z":"99863630.e06338","group":"f0d6f09.ae6441","name":"Settings page","order":2,"width":"6","height":"6","format":"<style>\n.thedays { vertical-align:bottom; height:54px; }\n.the2px  { background-color:black; height:2px; }\n.theblocks {width:100%; height:0%; background-color:green; }\n.greybuttons { background-color:#dddddd !important; width:48px; }\n.thetemps { font-size:70%; color:#888888 !important; }\n.smallheadings { color:black; font-size:80%; }\n\n</style>\n\n<script>\nvar thedays = [\"ПЕНЕДЕЛНИК\", \"ВТОРНИК\", \"СРЯДА\", \"ЧЕТВЪРТЪК\", \"ПЕТЪК\", \"СЪБОТА\", \"НЕДЕЛЯ\"];\n\nvar last = 1;\n\nfunction bar(mm, val) {\n  if (val == 14) {\n    $(mm).height(\"12%\");\n    $(mm).css('background-color', '#6666ff');\n  } //blue\n  if (val == 15) {\n    $(mm).height(\"16%\");\n    $(mm).css('background-color', '#5577ff');\n  }\n  if (val == 16) {\n    $(mm).height(\"20%\");\n    $(mm).css('background-color', '#5599ff');\n  }\n  if (val == 17) {\n    $(mm).height(\"24%\");\n    $(mm).css('background-color', '#55ccdd');\n  } // cyan\n  if (val == 18) {\n    $(mm).height(\"28%\");\n    $(mm).css('background-color', '#55ddaa');\n  }\n  if (val == 19) {\n    $(mm).height(\"32%\");\n    $(mm).css('background-color', '#55dd55');\n  }\n  if (val == 20) {\n    $(mm).height(\"36%\");\n    $(mm).css('background-color', '#55dd55');\n  } // green\n  if (val == 21) {\n    $(mm).height(\"40%\");\n    $(mm).css('background-color', '#55dd55');\n  }\n  if (val == 22) {\n    $(mm).height(\"44%\");\n    $(mm).css('background-color', '#aadd55');\n  }\n  if (val == 23) {\n    $(mm).height(\"48%\");\n    $(mm).css('background-color', '#dddd55');\n  } // yellow\n  if (val == 24) {\n    $(mm).height(\"52%\");\n    $(mm).css('background-color', '#ffaa55');\n  }\n  if (val == 25) {\n    $(mm).height(\"56%\");\n    $(mm).css('background-color', '#ff8855');\n  }\n  if (val == 26) {\n    $(mm).height(\"60%\");\n    $(mm).css('background-color', '#ff7777');\n  } // red\n\n}\n\nfunction selec(val, sta) {\n  var w = \"#td\" + val;\n  if (sta) $(w).css('background-color', 'magenta');\n  else $(w).css('background-color', 'black');\n}\n\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    selec(last, 0);\n    last = msg.selector;\n    selec(last, 1);\n    for (var x = 0; x < 24; x++) {\n      var w = \"#t\" + x;\n      bar(w, msg.timing[((msg.days - 1) * 24) + x]);\n      var v = \"#v\" + x;\n      $(v).text(msg.timing[((msg.days - 1) * 24) + x] + \"C\")\n    }\n    for (var x = 0; x < 2; x++) {\n      var w = \"#s\" + x;\n      $(w).text(msg.timing[168 + x] + \"C\");\n    }\n    $(\"#s2\").text(msg.timing[170] + \"%\");\n    \n    $(\"#d0\").text(thedays[msg.days - 1]);\n    if ((last > 4) && (last < 29))\n      $(\"#current\").text(msg.timing[((msg.days - 1) * 24) + last - 5] + \"C\");\n    else\n      $(\"#current\").text(\"-\");\n\n   myStatus=msg.myStatus;\n   if (msg.foryou != \"\")\n   {\n       $(\"#info\").text(msg.foryou);\n       var tm = setTimeout(function() {\n             $(\"#info\").text(myStatus);\n             clearTimeout(tm);\n       }, 3000);\n    }\n  });\n})(scope);\n\n</script>\n<table width=\"100%\">\n  <tr style=\"height:2px\">\n    <td colspan=12 style=\"background-color:black;height:5px;\"></td>\n  </tr>\n\n  <tr>\n    <td colspan=6>\n      <center><span class=\"smallheadings\">Ден</span></center>\n    </td>\n    <td colspan=2>\n      <center><span class=\"smallheadings\">Фиксиран</span></center>\n    </td>\n    <td colspan=2>\n      <center><span class=\"smallheadings\">Навън</span></center>\n    </td>\n    <td colspan=2>\n      <center><span class=\"smallheadings\">Суша</span></center>\n    </td>\n  </tr>\n\n  <tr>\n    <td ng-click=\"send({payload: '29'})\" colspan=6>\n      <center><span id=\"d0\" style=\"color:blue;font-size:110%\">Понеделник</span></center>\n    </td>\n    <td ng-click=\"send({payload: '1'})\" colspan=2>\n      <center><span id=\"s0\" style=\"color:blue;font-size:110%\">14</span></center>\n    </td>\n    <td ng-click=\"send({payload: '2'})\" colspan=2>\n      <center><span id=\"s1\" style=\"color:blue;font-size:110%\">20</span></center>\n    </td>\n    <td ng-click=\"send({payload: '30'})\" colspan=2>\n      <center><span id=\"s2\" style=\"color:blue;font-size:110%\">40</span></center>\n    </td>\n  </tr>\n\n  <tr style=\"height:2px\">\n    <td id=\"td29\" colspan=6 style=\"background-color:black;height:2px;\"></td>\n    <td id=\"td1\" colspan=2 style=\"background-color:black;height:2px;\"></td>\n    <td id=\"td2\" colspan=2 style=\"background-color:black;height:2px;\"></td>\n    <td id=\"td30\" colspan=2 style=\"background-color:black;height:2px;\"></td>\n  </tr>\n\n  <tr>\n    <td ng-click=\"send({payload: '5'})\" class=\"thedays\"><span id=\"v0\" class=\"thetemps\"></span>\n      <div id=\"t0\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '6'})\" class=\"thedays\"><span id=\"v1\" class=\"thetemps\"></span>\n      <div id=\"t1\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '7'})\" class=\"thedays\"><span id=\"v2\" class=\"thetemps\"></span>\n      <div id=\"t2\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '8'})\" class=\"thedays\"><span id=\"v3\" class=\"thetemps\"></span>\n      <div id=\"t3\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '9'})\" class=\"thedays\"><span id=\"v4\" class=\"thetemps\"></span>\n      <div id=\"t4\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '10'})\" class=\"thedays\"><span id=\"v5\" class=\"thetemps\"></span>\n      <div id=\"t5\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '11'})\" class=\"thedays\"><span id=\"v6\" class=\"thetemps\"></span>\n      <div id=\"t6\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '12'})\" class=\"thedays\"><span id=\"v7\" class=\"thetemps\"></span>\n      <div id=\"t7\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '13'})\" class=\"thedays\"><span id=\"v8\" class=\"thetemps\"></span>\n      <div id=\"t8\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '14'})\" class=\"thedays\"><span id=\"v9\" class=\"thetemps\"></span>\n      <div id=\"t9\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '15'})\" class=\"thedays\"><span id=\"v10\" class=\"thetemps\"></span>\n      <div id=\"t10\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '16'})\" class=\"thedays\"><span id=\"v11\" class=\"thetemps\"></span>\n      <div id=\"t11\" class=\"theblocks\"></div>\n    </td>\n  </tr>\n\n  <tr style=\"height:2px\">\n    <td id=\"td5\" class=\"the2px\"></td>\n    <td id=\"td6\" class=\"the2px\"></td>\n    <td id=\"td7\" class=\"the2px\"></td>\n    <td id=\"td8\" class=\"the2px\"></td>\n    <td id=\"td9\" class=\"the2px\"></td>\n    <td id=\"td10\" class=\"the2px\"></td>\n    <td id=\"td11\" class=\"the2px\"></td>\n    <td id=\"td12\" class=\"the2px\"></td>\n    <td id=\"td13\" class=\"the2px\"></td>\n    <td id=\"td14\" class=\"the2px\"></td>\n    <td id=\"td15\" class=\"the2px\"></td>\n    <td id=\"td16\" class=\"the2px\"></td>\n  </tr>\n\n  <tr>\n    <td>0</td>\n    <td>1</td>\n    <td>2</td>\n    <td>3</td>\n    <td>4</td>\n    <td>5</td>\n    <td>6</td>\n    <td>7</td>\n    <td>8</td>\n    <td>9</td>\n    <td>10</td>\n    <td>11</td>\n  </tr>\n\n  <tr>\n    <td ng-click=\"send({payload: '17'})\" class=\"thedays\"><span id=\"v12\" class=\"thetemps\"></span>\n      <div id=\"t12\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '18'})\" class=\"thedays\"><span id=\"v13\" class=\"thetemps\"></span>\n      <div id=\"t13\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '19'})\" class=\"thedays\"><span id=\"v14\" class=\"thetemps\"></span>\n      <div id=\"t14\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '20'})\" class=\"thedays\"><span id=\"v15\" class=\"thetemps\"></span>\n      <div id=\"t15\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '21'})\" class=\"thedays\"><span id=\"v16\" class=\"thetemps\"></span>\n      <div id=\"t16\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '22'})\" class=\"thedays\"><span id=\"v17\" class=\"thetemps\"></span>\n      <div id=\"t17\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '23'})\" class=\"thedays\"><span id=\"v18\" class=\"thetemps\"></span>\n      <div id=\"t18\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '24'})\" class=\"thedays\"><span id=\"v19\" class=\"thetemps\"></span>\n      <div id=\"t19\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '25'})\" class=\"thedays\"><span id=\"v20\" class=\"thetemps\"></span>\n      <div id=\"t20\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '26'})\" class=\"thedays\"><span id=\"v21\" class=\"thetemps\"></span>\n      <div id=\"t21\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '27'})\" class=\"thedays\"><span id=\"v22\" class=\"thetemps\"></span>\n      <div id=\"t22\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '28'})\" class=\"thedays\"><span id=\"v23\" class=\"thetemps\"></span>\n      <div id=\"t23\" class=\"theblocks\"></div>\n    </td>\n  </tr>\n\n  <tr style=\"height:2px\">\n    <td id=\"td17\" class=\"the2px\"></td>\n    <td id=\"td18\" class=\"the2px\"></td>\n    <td id=\"td19\" class=\"the2px\"></td>\n    <td id=\"td20\" class=\"the2px\"></td>\n    <td id=\"td21\" class=\"the2px\"></td>\n    <td id=\"td22\" class=\"the2px\"></td>\n    <td id=\"td23\" class=\"the2px\"></td>\n    <td id=\"td24\" class=\"the2px\"></td>\n    <td id=\"td25\" class=\"the2px\"></td>\n    <td id=\"td26\" class=\"the2px\"></td>\n    <td id=\"td27\" class=\"the2px\"></td>\n    <td id=\"td28\" class=\"the2px\"></td>\n  </tr>\n\n  <tr>\n    <td>12</td>\n    <td>13</td>\n    <td>14</td>\n    <td>15</td>\n    <td>16</td>\n    <td>17</td>\n    <td>18</td>\n    <td>19</td>\n    <td>20</td>\n    <td>21</td>\n    <td>22</td>\n    <td>23</td>\n  </tr>\n  \n  <tr height=\"4px\">\n    <td colspan=\"12\"></td>\n  </tr>\n\n\n  <tr height=\"22px\">\n    <td colspan=2 bgcolor=\"#dddddd\"><span class=\"smallheadings\">&nbsp;Статус:</span></td>\n\n    <td colspan=10 bgcolor=\"#dddddd\">\n      <center><span id=\"info\" class=\"smallheadings\">OK</span></center>\n    </td>\n  </tr>\n\n  <tr height=\"6px\">\n    <td colspan=\"12\"></td>\n  </tr>\n\n  <tr style=\"height:48px\">\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'd'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-left-double-2.png':'/myicons/png/48x48/actions/arrow-left-double-2.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n\n    <td colspan=2>\n      <center><span id=\"current\" style=\"color:black;font-size:120%\">-</span></center>\n    </td>\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'u'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-right-double-2.png':'/myicons/png/48x48/actions/arrow-right-double-2.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'r'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/edit-copy-4.png':'/myicons/png/48x48/actions/edit-copy-4.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 's'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/document-save-5.png':'/myicons/png/48x48/actions/document-save-5.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'c'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/dialog-cancel-5.png':'/myicons/png/48x48/actions/dialog-cancel-5.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n    <td colspan=1></td>\n  </tr>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":false,"x":720,"y":60,"wires":[["d287fc08.fae44","6b39bbc9.93f134","a2f121ca.46837"]]},{"id":"d287fc08.fae44","type":"function","z":"99863630.e06338","name":"Process controls","func":"var maxTermStats = 7;\n\nif ( typeof context.days == 'undefined' ) context.days=1;\nif ( typeof context.selector == 'undefined' ) context.selector=1;\nif ( typeof context.saving == 'undefined' ) context.saving=0;\n// globals\nif ( typeof context.global.hold == 'undefined' ) context.global.hold=0;\nif ( typeof context.global.away == 'undefined' ) context.global.away=0;\nif ( typeof context.global.selts == 'undefined' ) context.global.selts=0;\n\nif ( typeof context.global.myNames == 'undefined') { \n    context.global.myNames=new Array(maxTermStats);\n    context.global.myNames[0]='Спалня';\n    context.global.myNames[1]='Хол';\n    context.global.myNames[2]='Бокс';\n    context.global.myNames[3]='Баня';\n    context.global.myNames[4]='Коридор 1';\n    context.global.myNames[5]='Коридор 2';\n    context.global.myNames[6]='Антре';\n}\nif ( typeof context.global.incomingTemperature == 'undefined' ) {\n    context.global.incomingTemperature=new Array(maxTermStats);\n    context.global.incomingTemperature.fill(0);\n}\nif ( typeof context.global.incomingHumidity == 'undefined' ) {\n    context.global.incomingHumidity=new Array(maxTermStats);\n    context.global.incomingHumidity.fill(40);\n}\nif ( typeof context.global.manual == 'undefined' ) {\n    context.global.manual=new Array(maxTermStats);\n    context.global.manual.fill(0);\n}\nif ( typeof context.global.setTemperature == 'undefined' ) {\n    context.global.setTemperature=new Array(maxTermStats);\n    context.global.setTemperature.fill(0);\n}\nif ( typeof context.global.manualTimer == 'undefined' ) {\n    context.global.manualTimer=new Array(maxTermStats);\n    context.global.manualTimer.fill(0);\n}\nif ( typeof context.global.myStatus== 'undefined') { \n    context.global.myStatus=new Array(maxTermStats);\n    context.global.myStatus.fill(\"\");\n}\nif ( typeof context.global.timing == 'undefined' ) \n    {\n        context.global.timing=new Array(maxTermStats);\n        for (i = 0; i < maxTermStats; i++) { \n            context.global.timing[i]=new Array(173);\n            context.global.timing[i].fill(14);\n            context.global.timing[i][168]=8;\n            context.global.timing[i][169]=14;\n            context.global.timing[i][170]=40;\n            context.global.timing[i][171]=0;\n            context.global.timing[i][172]=0;\n        }\n        context.saving=0;  \n        msg.payload=\"anything\";  msg.foryou=\"Restoring\"; return([null,null,msg]);\n    }\nvar timing=global.get(\"timing\")[context.global.selts];\n\nswitch (msg.payload)\n    {\n    case \"u\" :  if ((context.selector>4)&&(context.selector<29))\n                {\n                    timing[((context.days-1)*24)+context.selector-5]++; \n                    if (timing[((context.days-1)*24)+context.selector-5]>26) timing[((context.days-1)*24)+context.selector-5]=26;\n                    msg.foryou=\"Incremented temperature\";\n                }\n                if (context.selector==1) { if (timing[168]<26) {  timing[168]++; msg.foryou=\"Incremented frost setting 1 degree\"; } else msg.foryou=\"Hit limit\"; }\n                if (context.selector==2) { if (timing[169]<26) {  timing[169]++; msg.foryou=\"Incremented away setting 1 degree\"; } else msg.foryou=\"Hit limit\"; }\n                if (context.selector==29) { if (context.days<7) { context.days++; msg.foryou=\"Forward one day\";} else msg.foryou=\"End of days!!\"; }\n                if (context.selector==30) { if (timing[170]<60) {  timing[170]++; msg.foryou=\"Incremented humidity setting 1%\"; } else msg.foryou=\"Hit limit\"; }\n\n                break;\n    case \"d\" :  if ((context.selector>4)&&(context.selector<29))\n                {\n                    timing[((context.days-1)*24)+context.selector-5]--; \n                    if (timing[((context.days-1)*24)+context.selector-5]<14) timing[((context.days-1)*24)+context.selector-5]=14;\n                    msg.foryou=\"Decremented temperature\";\n                }\n                if (context.selector==1) { if (timing[168]>8) { timing[168]--; msg.foryou=\"Decremented frost setting 1 degree\"; } else msg.foryou=\"Hit limit\"; }\n                if (context.selector==2) { if (timing[169]>8) { timing[169]--; msg.foryou=\"Decremented away setting 1 degree\"; } else msg.foryou=\"Hit limit\"; }\n                if (context.selector==29) { if (context.days>1) { context.days--;  msg.foryou=\"Backward one day\";} else msg.foryou=\"Beginning of days!!\";  }\n                if (context.selector==30) { if (timing[170]>30) { timing[170]--; msg.foryou=\"Decremented humidity setting 1%\"; } else msg.foryou=\"Hit limit\"; }\n\n                break;\n    case 'r' :  if ((context.selector>=5)&&(context.selector<28))\n                        {\n                         timing[((context.days-1)*24)+context.selector-4]=timing[((context.days-1)*24)+context.selector-5];   \n                         context.selector++;\n                         msg.foryou=\"Copied settings to the next hour slot\";\n                        }\n                if ((context.selector==29)&&(context.days<7))\n                        {\n                         for (var a=0;a<24;a++)\n                            {\n                             timing[((context.days)*24)+a]=timing[((context.days-1)*24)+a];   \n                            }\n                         context.days++;\n                         msg.foryou=\"Copied a complete day's settings\";\n                        }\n                break;\n    case 's': context.saving=0;  msg.foryou=\"Settings saved to disk\"; break;\n    case '1':\n    case '2':\n    case '3':\n    case '4':\n    case '5':\n    case '6':\n    case '7':\n    case '8':\n    case '9':\n    case '10':\n    case '11':\n    case '12':\n    case '13':\n    case '14':\n    case '15':\n    case '16':\n    case '17':\n    case '18':\n    case '19':\n    case '20':\n    case '21':\n    case '22':\n    case '23':\n    case '24':\n    case '25':\n    case '26':\n    case '27':\n    case '28':\n    case '29':\n    case '30': context.selector=parseInt(msg.payload);\n               if (msg.payload=='1') msg.foryou=\"Frost temperature selection\"; \n               else if (msg.payload=='2') msg.foryou=\"Away temperature selection\";\n               else if (msg.payload=='29') msg.foryou=\"Day selection\";\n               else if (msg.payload=='30') msg.foryou=\"Humidity selection\";\n               else  msg.foryou=\"Selected hour period \" + (parseInt(msg.payload)-4);\n    break;\n    case 'c' : msg.payload=\"anything\";  msg.foryou=\"Changes cancelled\"; node.send([null,null,msg]);\n    }\n\nmsg.temperatures=context.temperatures;\nmsg.timing=timing;\nmsg.days=context.days;\nmsg.selector=context.selector;\n\n\nmsg.myStatus=context.global.myStatus[context.global.selts];\ncontext.global.timing[context.global.selts]=timing;\n\nnode.send([msg,null,null]);\n\nif (context.saving===0) \n    { \n       msg.topic=\"\";\n        msg.timing=\"\";\n        msg.payload=JSON.stringify(context.global.timing);\n        node.send([null,msg,null]); \n        context.saving=1;\n    }\n    msg.foryou=\"\";\n","outputs":"3","noerr":0,"x":720,"y":120,"wires":[["9f2ce4e7.d90a58"],["b1314879.33d8b8"],["7811b28d.d504fc"]]},{"id":"2a26ffdf.607f","type":"inject","z":"99863630.e06338","name":"Once only","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":500,"y":120,"wires":[["d287fc08.fae44","7811b28d.d504fc"]]},{"id":"7ca91c94.0e0f34","type":"inject","z":"99863630.e06338","name":"Every minute","topic":"","payload":"","payloadType":"str","repeat":"60","crontab":"","once":false,"x":480,"y":220,"wires":[["6b39bbc9.93f134","4e13e8d9.da52c8","d287fc08.fae44","f4156602.c25d98"]]},{"id":"6b39bbc9.93f134","type":"function","z":"99863630.e06338","name":"Process heat","func":"var timing=global.get(\"timing\")[context.global.selts];\nvar now = new Date();\n\nmsg.payload=timing[(now.getDay()*24)+now.getHours()];\nmsg.frost=timing[168];\nmsg.away=timing[169];\nmsg.setHumidity=timing[170];\n\nmsg.temperature=global.get(\"incomingTemperature\")[context.global.selts];\nmsg.humidity=global.get(\"incomingHumidity\")[context.global.selts];\n\nmsg.set=msg.payload;\nif (global.get(\"manualTimer\")[context.global.selts]) {\n    context.global.manualTimer[context.global.selts]=global.get(\"manualTimer\")[context.global.selts]-1;\n} else {\n    context.global.manual[context.global.selts]=0;\n}\nmsg.desired=msg.set;\ncontext.global.setTemperature[context.global.selts]=msg.desired;\nmsg.desired+=global.get(\"manual\")[context.global.selts];\nif (global.get(\"frost\")) { \n    msg.desired=timing[168];\n    context.global.frost[context.global.selts]=global.get(\"frost\")[context.global.selts]-1; \n}\nif (global.get(\"away\")) { msg.desired=timing[169]; global.set(\"away\",global.get(\"away\")-1); }\n\n//if (msg.desired>msg.temperature) node.send({msg,{}}); else msg.heatRelay=0;\n//if (msg.humidity>msg.setHumidity) msg.humidityRelay=1; else msg.humidityRelay=0;\n\n//context.global.myStatus=\"Heating: \" + ((msg.heatRelay)? \"ON\":\"OFF\") + \" Dehumidifier: \" + ((msg.humidityRelay)? \"ON\":\"OFF\");\ncontext.global.myStatus[context.global.selts]=\"-\";\n\nnode.status({fill:\"blue\",shape:\"dot\",text:\"Set point \" + msg.desired + \"c - Actual \" + msg.temperature +\"c\"});\n\nif ( typeof msg.value == 'undefined' ) msg.value=global.get(\"incomingTemperature\")[context.global.selts];\n\nswitch (context.global.timing[context.global.selts][172])\n{\n    case 0:\n        node.send([msg,{topic: 'hause23/tempctrl/tempset', payload: msg.desired.toString()}]);\n    break;\n    case 1:\n        if (msg.desired>msg.temperature) node.send([msg,{topic: 'hause23/tempctrl/tempset', payload: msg.desired.toString()}]);\n        else node.send([msg,null]);\n    break;\n\n}\n","outputs":"2","noerr":0,"x":710,"y":220,"wires":[["711847b.7463eb8","36e1118d.d6a68e","eae2f4ab.4f72b8","cb76720e.a0cdc"],["f3bda7b7.5a3238"]]},{"id":"b1314879.33d8b8","type":"file","z":"99863630.e06338","name":"backup","filename":"/root/stats/petesstatlog-01.log","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1000,"y":100,"wires":[]},{"id":"7811b28d.d504fc","type":"file in","z":"99863630.e06338","name":"Restore","filename":"/root/stats/petesstatlog-01.log","format":"utf8","x":1000,"y":140,"wires":[["cd3c7209.eb13c"]]},{"id":"cd3c7209.eb13c","type":"function","z":"99863630.e06338","name":"Restore data from SD","func":"context.global.timing=JSON.parse(msg.payload);\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":180,"wires":[["d287fc08.fae44"]]},{"id":"9e880399.396e4","type":"inject","z":"99863630.e06338","name":"incoming humidity 40%","topic":"","payload":"40","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":140,"wires":[["14d34e01.b62882"]]},{"id":"3c85992f.b11bb6","type":"inject","z":"99863630.e06338","name":"incoming humidity 50%","topic":"","payload":"50","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":180,"wires":[["14d34e01.b62882"]]},{"id":"4f61b35e.89b76c","type":"function","z":"99863630.e06338","name":"Store temperature","func":"context.global.incomingTemperature[context.global.selts]=msg.payload;","outputs":"0","noerr":0,"x":310,"y":80,"wires":[]},{"id":"14d34e01.b62882","type":"function","z":"99863630.e06338","name":"Store humidity","func":"context.global.incomingHumidity[context.global.selts]=msg.payload;","outputs":"0","noerr":0,"x":300,"y":160,"wires":[]},{"id":"12153972.f265d7","type":"inject","z":"99863630.e06338","name":"Test \"Away\" 2 minutes","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":220,"wires":[["28b23d01.fd8fa2"]]},{"id":"627751bf.cdd04","type":"inject","z":"99863630.e06338","name":"Test \"Away\" clear","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":80,"y":260,"wires":[["28b23d01.fd8fa2"]]},{"id":"8fdcd87b.565b08","type":"inject","z":"99863630.e06338","name":"Test \"Frost\" 2 minutes","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":300,"wires":[["5c8a508a.1c7bf"]]},{"id":"af3948fb.f32498","type":"inject","z":"99863630.e06338","name":"Test \"Frost\" clear","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":80,"y":340,"wires":[["5c8a508a.1c7bf"]]},{"id":"5c8a508a.1c7bf","type":"function","z":"99863630.e06338","name":"Store \"Hold\"","func":"global.set(\"frost\",msg.payload);","outputs":"0","noerr":0,"x":290,"y":340,"wires":[]},{"id":"28b23d01.fd8fa2","type":"function","z":"99863630.e06338","name":"Store \"Away\"","func":"global.set(\"away\",msg.payload);","outputs":"0","noerr":0,"x":290,"y":240,"wires":[]},{"id":"baedca62.fdc2b8","type":"inject","z":"99863630.e06338","name":"sample forecast","topic":"","payload":"Dry, 2c with chance of snow","payloadType":"str","repeat":"","crontab":"","once":false,"x":80,"y":380,"wires":[["6069a688.ca2c98"]]},{"id":"5e2dae73.92241","type":"inject","z":"99863630.e06338","name":"Sample forecast","topic":"","payload":"Wet, 12c, possibly rain tonight","payloadType":"str","repeat":"","crontab":"","once":false,"x":80,"y":420,"wires":[["6069a688.ca2c98"]]},{"id":"6069a688.ca2c98","type":"function","z":"99863630.e06338","name":"Store forecast","func":"global.set(\"forecast\",msg.payload);","outputs":"0","noerr":0,"x":300,"y":400,"wires":[]},{"id":"d96d5c9d.a4bb","type":"function","z":"99863630.e06338","name":"Handle SET","func":"// here we set manual override controls - valid for 60 minutes after last change.\n\nif (global.get(\"away\")===0)\n{\n    if (msg.payload==\"u\") {\n        context.global.manualTimer[context.global.selts]=60;\n        if (context.global.manual[context.global.selts]<10) { \n            context.global.manual[context.global.selts]=context.global.manual[context.global.selts]+1; \n        }\n    }\n    if (msg.payload==\"d\") { \n        context.global.manualTimer[context.global.selts]=60;\n        if (context.global.manual[context.global.selts]<-10) { \n            context.global.manual[context.global.selts]=context.global.manual[context.global.selts]-1; \n        }\n    }\n    if (msg.payload==\"a\") {\n        context.global.manualTimer[context.global.selts]=0;\n        context.global.manual[context.global.selts]=0;\n    }\n}\n\nif (global.get(\"manual\")[context.global.selts]===0) msg.colour=\"#aaddff\"; else msg.colour=\"#aaffaa\";\n\nmsg.desired= global.get(\"setTemperature\")[context.global.selts] + global.get(\"manual\")[context.global.selts];\nif (global.get(\"frost\")) { msg.desired=global.get(\"timing\")[context.global.selts][168]; msg.colour=\"#ffbbbb\"; }\nif (global.get(\"away\"))  { msg.desired=global.get(\"timing\")[context.global.selts][169];msg.colour=\"#ffbbbb\";  }\nmsg.value=msg.desired;\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":400,"wires":[["36e1118d.d6a68e"]]},{"id":"320fdfc1.e1d74","type":"ui_template","z":"99863630.e06338","group":"f0d6f09.ae6441","name":"up","order":4,"width":"1","height":"1","format":"<md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'u'})\"> \n            <img style=\"outline : none;\" \n                         ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-right-2.png':'/myicons/png/48x48/actions/arrow-right-2.png'}}\" \n                          height=\"36px\"\n            />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"x":470,"y":400,"wires":[["d96d5c9d.a4bb","d43f7f39.19c73"]]},{"id":"74b55d90.029064","type":"ui_template","z":"99863630.e06338","group":"f0d6f09.ae6441","name":"down","order":3,"width":"1","height":"1","format":"  <md-button  class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'd'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-down-2.png':'/myicons/png/48x48/actions/arrow-left-2.png'}}\" \n                              height=\"36px\"\n                />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"x":470,"y":440,"wires":[["d96d5c9d.a4bb","d43f7f39.19c73"]]},{"id":"2ea87.cecfa5794","type":"function","z":"99863630.e06338","name":"Handle AWAY","func":"// here we set manual override controls - valid for 60 minutes after last change.\nif (msg.payload==\"u\") {  global.set(\"away\",global.get(\"away\")+1); }\nif (msg.payload==\"uu\") { global.set(\"away\",global.get(\"away\")+24); }\nif (msg.payload==\"a\") { global.set(\"away\",0);  }\nmsg.away=global.get(\"away\");\n\nif (global.get(\"away\")===0) msg.colour=\"#aaddff\"; else msg.colour=\"#aaffaa\";\n\nvar t=parseInt(msg.away);\nif (t>23) t=((t/24).toFixed(1))+\"d\"; else t=t+\"h\";\nmsg.away=t;\n  \nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":460,"wires":[["d96d5c9d.a4bb","5f6e2ade.26a864"]]},{"id":"d0504d87.b1c12","type":"ui_template","z":"99863630.e06338","group":"f0d6f09.ae6441","name":"more","order":6,"width":"1","height":"1","format":"  <md-button  class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'u'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-right-2.png':'/myicons/png/48x48/actions/arrow-right-2.png'}}\" \n                              height=\"36px\"\n                />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"x":470,"y":480,"wires":[["2ea87.cecfa5794","d43f7f39.19c73"]]},{"id":"184bfc74.ab0ca4","type":"ui_template","z":"99863630.e06338","group":"f0d6f09.ae6441","name":"mmore","order":7,"width":"1","height":"1","format":"  <md-button  class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'uu'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-left-double-2.png':'/myicons/png/48x48/actions/arrow-right-double-2.png'}}\" \n                              height=\"36px\"\n                />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"x":480,"y":520,"wires":[["2ea87.cecfa5794","d43f7f39.19c73"]]},{"id":"711847b.7463eb8","type":"ui_template","z":"99863630.e06338","group":"f0d6f09.ae6441","name":"newergauge","order":1,"width":"3","height":"3","format":"<script type=\"text/javascript\" src=\"/ext-js/gauge.min.js\"></script>\n<script>\n\n\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n           gauge.value=msg.value;\n           gauge.heat=msg.heatRelay;\n           gauge.humidity=msg.humidityRelay;\n           gauge.draw();\n        });\n    })(scope);\n    \nvar gauge = new RadialGauge({\n    renderTo: 'canvas-id',\n    width: 160,\n    height: 160,\n    heat: 0,\n    humidity: 0,\n    units: \"Degrees C\",\n    title: \"Heating\",\n    minValue: 10,\n    maxValue: 30,\n    majorTicks: [\n        '10',\n        '15',\n        '20',\n        '25',\n        '30'\n    ],\n    minorTicks: 5,\n    strokeTicks: true,\n   highlights  : [\n        { from : 10,  to : 15, color : '#8888ff' },\n        { from : 15, to : 20, color :  '#88ff88' },\n        { from : 20, to : 25, color :  '#ffff00' },\n        { from : 25, to : 30, color :  '#ff8888' }\n    ],\n\n    colorPlate: \"#fff\",\n    borderShadowWidth: 0,\n    borders: true,\n    needleType: \"arrow\",\n    valueInt: 2,\n    valueDec:0,\n    needleWidth: 2,\n    fontTitleSize: 42,\n    needleCircleSize: 14,\n    needleCircleOuter: true,\n    needleCircleInner: false,\n    animationDuration: 500,\n    animationRule: \"linear\"\n}).draw();\n\n\ngauge.on('beforeNeedle', function () {\n        // getting canvas 2d drawing context\n        var context = this.canvas.context;\n        // we can use gauge context special 'max' property which represents\n        // gauge radius in a real pixels and calculate size of relative pixel\n        // for our drawing needs\n        var pixel = context.max / 100;\n        // step out our circle center coordinate by 30% of its radius from\n        // gauge center\n        var centerX = 36 * pixel;\n        // stay in center by Y-coordinate\n        var centerY = 0;\n        // use circle radius equal to 5%\n        var radius = 10 * pixel;\n        // save previous context state\n        context.save();\n        \n        // draw circle using canvas JS API\n        context.beginPath();\n        context.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);\n        context.fillStyle = (this.heat) ? '#ff0000' : '#8888';\n        context.fill();\n        context.closePath();\n\n        context.beginPath();\n        context.arc(centerX-(72 * pixel), centerY, radius, 0, 2 * Math.PI, false);\n        context.fillStyle = (this.humidity) ? '#00dd88' : '#888888';\n        context.fill();\n        context.closePath();\n        // restore previous context state to prevent break of\n        // further drawings        \n        \n        context.restore();\n       // context.draw();\n    });\n\ngauge.value = 18;\n\n\n</script>\n<canvas style=\"outline: none;\" ng-click=\"send({payload: ' '})\" id=\"canvas-id\">\n</canvas>","storeOutMessages":false,"fwdInMessages":false,"x":970,"y":480,"wires":[["6b39bbc9.93f134","a2f121ca.46837"]]},{"id":"36e1118d.d6a68e","type":"ui_template","z":"99863630.e06338","group":"f0d6f09.ae6441","name":"SET","order":5,"width":"1","height":"1","format":"<script>\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n             if (msg.desired!=\"\") $(\"#infor\").text(msg.desired+\"C\");\n             if (msg.colour!=\"\") $(\"#infor\").css(\"background-color\",msg.colour);\n        });\n \n    })(scope);\n</script>\n<table  ng-click=\"send({payload: 'a'})\" width=100% height=100% class=\"vibrate zui-table zui-table-rounded\">\n    <thead>\n        <tr>\n            <th>SET</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr >\n            <td id=\"infor\"></td>\n        </tr>\n\n    </tbody>\n</table>\n","storeOutMessages":false,"fwdInMessages":false,"x":950,"y":560,"wires":[["d96d5c9d.a4bb","d43f7f39.19c73"]]},{"id":"5f6e2ade.26a864","type":"ui_template","z":"99863630.e06338","group":"f0d6f09.ae6441","name":"AWAY","order":8,"width":"1","height":"1","format":"<script>\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n             if (msg.away!=\"\") $(\"#awaytable\").text(msg.away);\n             if (msg.colour!=\"\") $(\"#awaytable\").css(\"background-color\",msg.colour);\n        });\n \n    })(scope);\n</script>\n\n<table ng-click=\"send({payload: 'a'})\" width=100% height=100% class=\"vibrate zui-table zui-table-rounded\">\n    <thead>\n        <tr>\n            <th>AWAY</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td id=\"awaytable\"></td>\n    \n        </tr>\n\n    </tbody>\n</table>","storeOutMessages":false,"fwdInMessages":false,"x":950,"y":600,"wires":[["2ea87.cecfa5794","d43f7f39.19c73"]]},{"id":"63812c1.0c694d4","type":"ui_template","z":"99863630.e06338","group":"f0d6f09.ae6441","name":"STATUS","order":9,"width":"3","height":"1","format":"<script>\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n             if (msg.topic!=\"\") $(\"#hdr1\").text(msg.topic);\n             if (msg.payload!=\"\") $(\"#bod1\").text(msg.payload);\n        });\n    })(scope);\n</script>\n\n<table ng-click=\"send({payload: 'a'})\" width=100% height=100% class=\"zui-table zui-table-rounded\">\n    <thead>\n        <tr>\n            <th id=\"hdr1\">></th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td id=\"bod1\"></td>\n    \n        </tr>\n\n    </tbody>\n</table>","storeOutMessages":false,"fwdInMessages":false,"x":960,"y":640,"wires":[[]]},{"id":"4e13e8d9.da52c8","type":"function","z":"99863630.e06338","name":"show humidity","func":"function theNewDate()\n{\n   var d = new Date(),\n    minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes();\n    hours = d.getHours().toString().length == 1 ? '0'+d.getHours() : d.getHours();\n    //ampm = d.getHours() >= 12 ? 'pm' : 'am';\n    ampm ='';\n    months = ['Яну','Фев','Март','Апр','Май','Юни','Юли','Авг','Сеп','Окт','Ноем','Дек'];\n    days = ['Нед','Пон','Вт','Ср','Чет','Пет','Съб'];\n    var m= days[d.getDay()]+' '+months[d.getMonth()]+' '+d.getDate()+' '+d.getFullYear()+' '+hours+':'+minutes+ampm;\n    return m;\n}\n\nmsg.topic=theNewDate();\nmsg.payload=\"Влажност: \" + global.get(\"incomingHumidity\")[context.global.selts] +\"%\" ;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":520,"wires":[["63812c1.0c694d4"]]},{"id":"d43f7f39.19c73","type":"function","z":"99863630.e06338","name":"Showing settings","func":"msg.payload=\"Показват се настройките\";\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":580,"wires":[["63812c1.0c694d4"]]},{"id":"a2f121ca.46837","type":"function","z":"99863630.e06338","name":"Showing actual","func":"msg.payload=\"Показват се стойности\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":640,"wires":[["63812c1.0c694d4"]]},{"id":"9032ef89.b1965","type":"inject","z":"99863630.e06338","name":"incoming heat 27c","topic":"","payload":"27","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":60,"wires":[["4f61b35e.89b76c"]]},{"id":"9f5a2d93.81bd3","type":"inject","z":"99863630.e06338","name":"incoming heat 18c","topic":"","payload":"18","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":100,"wires":[["4f61b35e.89b76c"]]},{"id":"f3bda7b7.5a3238","type":"trigger","z":"99863630.e06338","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"1","extend":true,"units":"min","reset":"","name":"","x":990,"y":220,"wires":[["7f8825ef.9a7fcc","c7eb621f.f8763"]]},{"id":"eae2f4ab.4f72b8","type":"function","z":"99863630.e06338","name":"Heat test","func":"if (msg.heatRelay==1)\nnode.status({fill:\"red\",shape:\"dot\",text:\"Heat ON\"});\nelse\nnode.status({fill:\"black\",shape:\"dot\",text:\"Heat OFF\"});\n","outputs":"0","noerr":0,"x":1000,"y":360,"wires":[]},{"id":"cb76720e.a0cdc","type":"function","z":"99863630.e06338","name":"Dehum test","func":"if (msg.humidityRelay==1)\nnode.status({fill:\"red\",shape:\"dot\",text:\"Dehumidifier ON\"});\nelse\nnode.status({fill:\"black\",shape:\"dot\",text:\"Dehumidifier OFF\"});\n","outputs":"0","noerr":0,"x":1010,"y":420,"wires":[]},{"id":"885b1bcf.6890c8","type":"link in","z":"99863630.e06338","name":"termostat in bedroom","links":["8117d14d.331eb"],"x":155,"y":20,"wires":[["45e1e1a9.228fb"]]},{"id":"45e1e1a9.228fb","type":"function","z":"99863630.e06338","name":"parce incomes data","func":"var now = new Date();\nvar ret = 0;\n\nif (msg.topic === 'hause23/tempctrl/temperature/degrees') {\n    context.global.incomingTemperature[0]=Number(msg.payload);\n} else if (msg.topic === 'hause23/wemos-temperature/humidity/percentage') {\n    context.global.incomingHumidity[0]=Number(msg.payload);\n} else if (msg.topic === 'hause23/tempctrl/relay/2300') {\n    if(msg.payload == 'ON') ret=1; ret=0;\n    return [null,{heatRelay: ret}];\n} else if (msg.topic === 'hause23/tempctrl/relay/wind') {\n    if(msg.payload == 'ON') ret=1; ret=0;\n    return [null,{humidityRelay: ret}];\n} else if (msg.topic === 'hause23/tempctrl/tempset') {\n    context.global.timing[context.global.selts][(now.getDay()*24)+now.getHours()]=Number(msg.payload);\n    return [{payload: 's'},null];\n} else {\n    return [null,null];\n}\nreturn [null,null];","outputs":"2","noerr":0,"x":310,"y":20,"wires":[["d287fc08.fae44"],["6b39bbc9.93f134"]]},{"id":"7f8825ef.9a7fcc","type":"link out","z":"99863630.e06338","name":"termostat out bedroom","links":["9d354ac0.2c20a"],"x":955,"y":280,"wires":[]},{"id":"5f5aa177.862a8","type":"ui_template","z":"99863630.e06338","group":"f0d6f09.ae6441","name":"next","order":13,"width":"1","height":"1","format":"<md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'n'})\"> \n            <img style=\"outline : none;\" \n                         ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-right-2.png':'/myicons/png/48x48/actions/arrow-right-2.png'}}\" \n                          height=\"36px\"\n            />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"x":470,"y":320,"wires":[["d43f7f39.19c73","f4156602.c25d98"]]},{"id":"7b812c9e.5c6a44","type":"ui_template","z":"99863630.e06338","group":"f0d6f09.ae6441","name":"prev","order":11,"width":"1","height":"1","format":"  <md-button  class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'p'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-down-2.png':'/myicons/png/48x48/actions/arrow-left-2.png'}}\" \n                              height=\"36px\"\n                />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"x":470,"y":360,"wires":[["d43f7f39.19c73","f4156602.c25d98"]]},{"id":"e30a243d.f9fbe8","type":"ui_text","z":"99863630.e06338","group":"f0d6f09.ae6441","order":12,"width":"4","height":"1","name":"myroom","label":"","format":"{{msg.payload | uppercase}}","layout":"col-center","x":700,"y":300,"wires":[]},{"id":"f4156602.c25d98","type":"function","z":"99863630.e06338","name":"Move in rooms","func":"var len = context.global.myNames.length;\n\nif (msg.payload==\"p\") {\n    context.global.selts=context.global.selts-1;\n    if (context.global.selts == -1) context.global.selts=len;\n    node.send([{payload:context.global.myNames[context.global.selts]},{payload: 's'}]);\n}\nif (msg.payload==\"n\") {\n    context.global.selts=context.global.selts+1;\n    if (context.global.selts == len) context.global.selts=0;\n    node.send([{payload:context.global.myNames[context.global.selts]},{payload: 's'}]);\n}\n\nnode.send([{payload:context.global.myNames[context.global.selts]},null]);","outputs":"2","noerr":0,"x":720,"y":360,"wires":[["e30a243d.f9fbe8","6b39bbc9.93f134"],["d287fc08.fae44","d96d5c9d.a4bb","4e13e8d9.da52c8"]]},{"id":"c7eb621f.f8763","type":"debug","z":"99863630.e06338","name":"","active":true,"console":"false","complete":"true","x":970,"y":180,"wires":[]},{"id":"72a3334d.0e503c","type":"ui_dropdown","z":"99863630.e06338","name":"termosmod","label":"Поведение","group":"f0d6f09.ae6441","order":10,"width":0,"height":0,"passthru":true,"options":[{"label":"Температурна Точка","value":0,"type":"num"},{"label":"Термостат","value":1,"type":"num"}],"payload":"","topic":"mode","x":310,"y":520,"wires":[["67e9e0c4.e454"]]},{"id":"67e9e0c4.e454","type":"function","z":"99863630.e06338","name":"Termostat mode","func":"if (context.global.timing[context.global.selts][172]!=msg.payload) context.global.timing[context.global.selts][172]=msg.payload;\nreturn {payload: 's'};","outputs":1,"noerr":0,"x":300,"y":460,"wires":[["d287fc08.fae44"]]},{"id":"f0d6f09.ae6441","type":"ui_group","z":"","name":"Спалня","tab":"a4c8f335.5183a","order":1,"disp":false,"width":"6"},{"id":"a4c8f335.5183a","type":"ui_tab","z":"","name":"Стайни термостати","icon":"dashboard"}]
